.create-student-form {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  @import '/src/pages/mixin/mixin';

  h1 {
    color: lightgray;
    margin-bottom: 2rem;
  }

  form {
    @include form
  }

  .submit-button {
    @include submit-button
  }
}