@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box; /* Ensures padding does not add to the total width or height */
}

body, html {
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(
                  to right,
                  rgba(13, 28, 63, 1) 0%,
                  rgba(34, 56, 74, 0.8) 10%,
                  rgba(58, 79, 95, 0.6) 50%,
                  rgba(34, 56, 74, 0.8) 90%,
                  rgba(13, 28, 63, 1) 100%
  );
}

.container {
  display: flex;
  flex: 1;
  margin: 0 15%;
  background-color: #22384A;
  height: calc(100vh - 4.2rem);

  padding: 30px;
}
