
.container.student-list {
  flex-direction: column;
  color: lightgray;

  ul {
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    justify-content: flex-start;
    gap: 15px;

    &::-webkit-scrollbar {
      background-color: rgba(255, 255, 255, 0.0);
    }

    &::-webkit-scrollbar-thumb {
      background: #9b8989;
      border-radius: 25px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: rgba(155, 137, 137, 0.62);
    }
  }

  .student {
    color: lightgray;
    flex: 1 1 200px;

    margin-top: 15px;
    list-style: none;
    margin-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: fit-content;
    display: flex;
    flex-direction: column;
  }


  .student-info {
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    flex: 1;

    &:hover {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.15);
      border-radius: 0;
    }
  }

  .toolbox {
    .remove {
      margin: 0.35rem;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.225);

      .remove {
        &:hover {
          cursor: pointer;
          color: white;
        }
      }
    }

    display: flex;
    flex-direction: column;


    align-items: center;

    hr {
      width: 75%;
    }

    background-color: rgba(0, 0, 0, 0.325);
  }

  .student-info p {
    margin: 0.5rem 0;
  }

  .student-info span {
    font-weight: bold;
  }

  .student.add-new {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px dashed #ccc;
  }

  .student.add-new .student-info {
    width: 100%;
    text-align: center;
  }

  .student.add-new .student-add-link {
    display: block;
    padding: 2rem;
    font-size: 3rem;
    color: #333;
    transition: color 0.2s, background-color 0.2s;
  }

  .student.add-new .student-add-link:hover {
    color: #fff;
  }

  .add-student-text {
    margin: 0;
  }
}
