
.container.student-list {
  flex-direction: column;
  color: lightgray;
  @import '/src/pages/mixin/mixin';

  ul {
    @include ul
  }

  .student {
    @include item
  }


  .student-info {
    @include item-info
  }

  .toolbox {
    @include toolbox
  }

  .student-info p {
    margin: 0.5rem 0;
  }

  .student-info span {
    font-weight: bold;
  }

  .student.add-new {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px dashed #ccc;
  }

  .student.add-new .student-info {
    width: 100%;
    text-align: center;
  }

  .student.add-new .student-add-link {
    display: block;
    padding: 2rem;
    font-size: 3rem;
    color: #333;
    transition: color 0.2s, background-color 0.2s;
  }

  .student.add-new .student-add-link:hover {
    color: #fff;
  }

  .add-student-text {
    margin: 0;
  }
}
